<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">About Minium</h4>
    </div>
    <div class="modal-body">
        <center>
            <img src="/assets/images/minium.png" name="aboutme"  border="0" >
            </a>
            <h3 class="media-heading"> <small></small></h3>
            <span><strong>Version: </strong></span>
            <span class="label label-warning">{{version}}</span>
        </center>
        <hr>
    </div>
    <div class="modal-footer">
        <center>
            <button type="button" class="btn btn-default" ng-click="cancel()">I've heard enough about Minium</button>
        </center>
    </div>
</div>
