<div class="panel-body">

    <form name="projectForm" class="form-horizontal" novalidate>

        <fieldset>

            <!-- Text input-->
            <div class="form-group has-feedback" ng-class="{ 'has-error' : projectForm.directory.$invalid && !projectForm.directory.$pristine || (isValid == false), 'has-success' : isValid }">
                <label class="col-sm-2 control-label" for="textinput">Project Directory</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.directory" name="directory" required placeholder="Project Directory" class="form-control" ng-keyup="validate($event)" popover="{{popoverDirectoryInput}}" popover-trigger="focus" class="form-control" />
                    <p ng-show="projectForm.directory.$invalid && !projectForm.directory.$pristine" class="help-block">The name is required.</p>
                     <span class="fa fa-circle-o-notch fa-spin form-control-feedback" aria-hidden="true" ng-hide="!validatingProject"></span>
                    <span id="inputGroupSuccess2Status" class="sr-only">(success)</span>
                </div>

            </div>

             <div class="form-group info-labels" >
               <label class="col-sm-2 control-label" for="textinput"></label>

                <div class="col-sm-10">
                <div ng-bind-html="msg.directory | sanitize"></div>
                <div ng-bind-html="msg.project | sanitize"></div>
                <div ng-bind-html="msg.projectType | sanitize"></div>

                </div>

            </div>
            <hr>

            <!-- Form Name -->
            <legend>New project {{project.type}}</legend>
            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error' : projectForm.name.$invalid && !projectForm.name.$pristine }">
                <label class="col-sm-2 control-label" for="textinput">Project type</label>
                <div class="col-sm-10">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" ng-click='activate("automator")' ng-class="{'active' : project.type == 'automator'}">
                            <input type="radio" ng-model="project.type" value="automator" /> Automator Project
                        </label>
                        <label class="btn btn-default" ng-click='activate("cucumber")' ng-class="{'active' : project.type == 'cucumber'}">
                            <input type="radio" ng-model="project.type" value="cucumber" ng-click='activate("cucumber")' /> Cucumber project
                        </label>
                    </div>
                </div>
            </div>



            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error' : projectForm.name.$invalid && !projectForm.name.$pristine }">
                <label class="col-sm-2 control-label" for="textinput">Project Name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.name" name="name" required placeholder="Project Name" class="form-control" ng-keyup='project.artifactId = project.name' />
                    <p ng-show="projectForm.name.$invalid && !projectForm.name.$pristine" class="help-block">The name is required.</p>
                </div>

            </div>




            <!-- Text input-->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Articfact ID</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.artifactId" name="artifactId" required="" placeholder="Articfact ID" class="form-control" />
                </div>
                <br />
                <div ng-show="form.$submitted || form.uArtifactId.$touched">
                    <span ng-show="form.uArtifactId.$error.required">Tell us the artifactId.</span>
                    <span ng-show="form.uArtifactId.$error.artifactId">This is not a valid artifactId.</span>
                </div>
            </div>




            <!-- Text input-->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Group ID</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="project.groupId"  name="groupId" placeholder="groupId" class="form-control">
                </div>

                <label class="col-sm-2 control-label" for="textinput">Version</label>
                <div class="col-sm-3">
                    <input type="text" ng-model="project.version" name="version" placeholder="Version" class="form-control">
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group" ng-show="project.type == 'cucumber'">
                <label class="col-sm-2 control-label" for="textinput">Feature file</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" ng-model="project.featureFile" name="featureFile" required="" placeholder="Feature file name" class="form-control" />
                        <div class="input-group-addon">.feature</div>
                    </div>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group" ng-show="project.type == 'cucumber'">
                <label class="col-sm-2 control-label" for="textinput">Step file</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" ng-model="project.stepFile" name="stepFile" required="" placeholder="Step file name" class="form-control" />
                        <div class="input-group-addon">.js</div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

</div>
<div class="modal-footer">


    <button class="btn btn-primary" type="button" ng-click="submitForm()">Create</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
