<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Report
            <small>for Testar Filtros Tabela Lojas
                <a class='btn btn-info' href="#/editor/features/cgd/Consultas/Lojas/Filtros.feature">
                    Go to File</a>
            </small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-dashboard"></i> Home</a>
            </li>
            <li>Feature</li>
            <li class="active">Reporter</li>
        </ol>
    </section>
    <!-- {{steps}} -->
    <!-- Main content -->
    <section class="content">

        <div class="nav-tabs-custom">

            <ul class="nav nav-tabs nav-color">
                <li class="active">
                    <a show-tab data-toggle="tab" href="#all">
                        <i class="fa fa-bars"></i> 
                        <strong>All Scenarios</strong>
                    </a>
                </li>
                <li class="">
                    <a show-tab data-toggle="tab" href="#failling">
                        <i class="fa fa-bug"></i> 
                        <strong>Failing Scenarios</strong>
                        <span class="label label-danger">12</span>
                    </a>
                </li>
                <li class="">
                    <a show-tab data-toggle="tab" href="#skipped">
                        <strong>Skipped</strong>
                    </a>
                </li>
                <li class="">
                    <a show-tab data-toggle="tab" href="#statistic">
                        <i class="fa fa-bar-chart"></i> 
                        <strong>Statistics</strong>
                    </a>
                </li>
                <li class="">
                    <a show-tab data-toggle="tab" href="#resolved">
                        <strong>Resolved</strong>
                    </a>
                </li>
            </ul>
            <!--TAB CONTENT -->
            <div class="tab-content tab-report">

                
                <div class="row">
                    <div class="col-xs-6">
                        <div>
                            <label>Search:
                                <input aria-controls="example1" type="text">
                            </label>
                        </div>
                    </div>
                </div>

                <!-- TAB 1 -->
                <div id="all" class="tab-pane active">
                    <div ng-include="'partials/tab/report/tab-all.html'"></div>
                </div>
                <!-- tab-pane -->

                <!-- TAB 2 -->
                <div id="failling" class="tab-pane">
                    <div ng-include="'partials/tab/report/tab-failling-list.html'"></div>
                    
                </div>
                <!-- tab-pane -->

                <!-- TAB 3 -->
                <div id="skipped" class="tab-pane">
                    Skipped
                </div>
                <!-- tab-pane -->

                <!-- TAB 4 -->
                <div id="statistic" class="tab-pane">
                    <div ng-include="'partials/tab/report/tab-statistic.html'"></div>
                   

                </div>
                <!-- tab-pane -->



                <!-- TAB 5 -->
                <div id="resolved" class="tab-pane">
                    Resolved Recently
                </div>
                <!-- tab-pane -->

            </div>
            <!-- tab-content -->

        </div>

    </section>
    <!-- /.content -->

    <div ui-view></div>


</aside>
