
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-opera:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */