<div class="panel-body">
    <div class="col-xs-12">
        <p class="lead" translate="help.help">Help</p>

        <div class="list-group">
            <a class="list-group-item" href>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-save fa-stack-1x"></i>
                </span>
                <kbd>CTRL + S</kbd>&nbsp;
                <div class="col-xs-8 pull-right">
                    <em translate="help.save.file"> Save the file</em>
                </div>
            </a>

            <a class="list-group-item" href hide-if-remote>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-play fa-stack-1x"></i>
                </span>
                <kbd>Ctrl-Enter</kbd>&nbsp;
                <div class="col-xs-8 pull-right">
                    <em translate="help.run.tests">  [Mode Cucumber]  Run Test</em>
                    <small translate="help.run.tests.text">Run your tests from the cursor location. You can have multiple cursor.</small>
                </div>
            </a>

            <a class="list-group-item" href hide-if-remote>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-hand-o-up fa-stack-1x"></i>
                </span>

                <kbd>Ctrl+Shift+C</kbd>&nbsp;
                <div class="col-xs-8 pull-right">
                    <em translate="help.selector.gadget"> [Mode Javascript] Selector Gadget</em>
                    <small translate="help.selector.gadget.text">You can select elements with selector.. </small>
                </div>
            </a>

             <a class="list-group-item" href hide-if-remote>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-binoculars fa-stack-1x"></i>
                </span>

                <kbd>Ctrl + Enter</kbd>&nbsp;
                <div class="col-xs-8 pull-right">
                    <em  translate="help.evaluator"> > [Mode Javascript] Evaluator</em>
                    <small translate="help.evaluator.text" >You can evaluate your expressions in javascript. <!-- Put the cursor on the line or select the expression that you want to evaluate.  --> </small>
                </div>
            </a>

             <a class="list-group-item" href>
                <span class="fa-stack fa-lg">
                  <i class="fa  fa-search fa-stack-1x"></i>
                </span>

                <kbd>Ctrl + P</kbd>&nbsp;
                <div class="col-xs-8 pull-right">
                    <em translate="help.search">> Search File</em>
                    <small translate="help.search.text">You can search and open files <!-- Put the cursor on the line or select the expression that you want to evaluate.  --> </small>
                </div>
            </a>

        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()" translate="entity.action.close">
        Close
    </button>
</div>
