<div class="wrapper ">

    <div ui-view="navbar" ng-cloak=""></div>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
          <div ui-view="treeNav"></div>
        </section>
        <!-- /.sidebar -->
      </aside>
    <div class=" content-wrapper">
        
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside>
            <!-- Content Header (Page header) -->
            <section class="container-fluid">
                <!-- /.navbar-collapse -->
            </section>
            <!-- Main content -->
            
            <section class="content container container-editor full ">
                <div ui-view="view1"></div>

                    
                <div ui-view="console" id="log"></div>
            </section>
        </aside>
    </div>
    <!-- ./wrapper -->





</div>
<!-- ./wrapper -->
<script type="text/ng-template" id="selectorGadgetModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" translate="labels.selector.gadget">Pick elements with Selector Gadget</h4>
    </div>
    <div class="modal-body">
        <p translate="labels.selector.gadget.text">Pick elements with Selector Gadget to generate a CSS selector expression.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" translate="entity.action.close">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="accept()" translate="entity.action.accept">Accept</button>
    </div>
</script>
