<div class="modal-body">
    <div class="panel-body">
        <div class="alert alert-error alert-warning" ng-show="error">{{errorMessage}}</div>
        <form class="" name="newLogForm">

            <div class="form-group">

                <label class="control-label" for="log_path">URL:</label>
                <div class="controls">
                    <input type="text" id="log_path" ng-model="log.path" placeholder="URL " required min="2" class="form-control">
                </div>

                <label class="control-label" for="log_name">Browsers</label>
                <span class="help-inline" style="color:red;" ng-show="newLogForm.name.$dirty && newLogForm.name.$invalid">Woohoo!</span>

                <div class="form-group controls " ng-class="{'has-error': newLogForm.name.$dirty && newLogForm.name.$invalid}">
                    <input type="text" id="log_name" name="name" ng-model="log.name" placeholder="Log Name" required min="2" class="form-control">
                </div>

                <button type="button" button-toggle="active" class="btn btn-primary" ng-model="browsers['firefox']">Firefox</button>
                <button type="button" button-toggle="active" class="btn btn-primary" ng-model="browsers['chrome']">Chrome</button>
                <button type="button" button-toggle="active" class="btn btn-primary" ng-model="browsers['IE']">IE</button>
                <button type="button" button-toggle="active" class="btn btn-primary" ng-model="browsers['safari']">Safari</button>

                <a href ng-click="format('features/cgd/Consultas/Lojas/Filtros.feature')">Format</a>

                <!--  <button type="button" class="firefox"></button>

                 <button class="btn btn-default orange-circle-button" href="">Read<br />more<br /><span class="orange-circle-greater-than">></span></button>

                 <button id="rock"></button> -->

            </div>

        </form>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
