<div class="panel-body">
    <p></p>
    <form role="form">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="fs-current-path" value="{{fs.current.relativeUri}}" readonly="true">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="loadParent()"><span class="glyphicon glyphicon-circle-arrow-up"></span>
                </button>
                </span>
            </div>
        </div>
    </form>
    <span ng-show="fs.current.children.length == 0">No Files here</span>
      <table class="table table-striped table-condensed" ng-show="fs.current.children.length &gt; 0">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                <tr ng-repeat="file in fs.current.children | orderBy:['type','name']">
                    <td>
                        <span class="fa-stack">
                        <!-- FOLDER -->
                          <i class="fa fa-circle fa-stack-2x text-info" ng-if="file.type == 'DIR'"></i>
                          <i class="fa fa-folder-o fa-stack-1x fa-inverse" ng-if="file.type == 'DIR'"></i>

                          <!-- FILE -->
                          <img src="./icons/feature.png" width="16" height="16" ng-if="file.type == 'FILE'">
                        </span>
<!--                         
 -->                    </td>
                    <td>
                        <a ng-click="file.type == 'DIR' ? enter(file) : select(file)" ng-class="{file : file.type == 'DIR'}">
                             {{file.name}}
                        </a>
                    </td>
                    <td>{{file.lastModified | moment | fromNow}}</td>
                   
                </tr>
            </table>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">File Name</label>
        <div class="col-sm-8">
            <input type="text" placeholder="File Name" class="form-control" ng-model="fileName">
        </div>
    </div>
    
    <br>
    <br>
    <span ng-show="fileName.length > 0">
      The new file <strong>{{fileName}}</strong> will be created in <strong>{{fs.current.relativeUri}}</strong>
    </span>

</div>
</div>
<div class="modal-footer">


    <button class="btn btn-primary" ng-click="createFile(fileName,fs.current.relativeUri)">Create</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
