<div class="modal-header">
    <h2 class="modal-title">
        <center>Search</center>
    </h2>
</div>
<div class="panel-body">
    <p></p>

    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="search-query" placeholder="Search file" ng-model="form.searchQuery" ng-change="search()" autofocus>
        </div>
    </form>
    <div class="list-group">
        <a ng-repeat="item in results | orderBy : 'uri' | limitTo: 5" ng-click="select(item)" class="list-group-item search-results">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text nowrap hideoverflow">{{item.relativeUri | unescape}}</p>
        </a>
    </div>

</div>
<div class="modal-footer">


    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
