<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="dropdown" on-toggle="toggled(open)">
            <a href="#" class="dropdown-toggle">File <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href ui-sref="global.multi.newFile">
                        <i class="fa fa-file"></i>
                        <span class="ladda-label">Create File</span>
                    </a>
                </li>

                <li>
                    <a href title="Save file" ng-click="saveFile()">
                        <span class="fa  fa-save"></span>
                        <span class="ladda-label">Save</span>
                    </a>
                </li>

                <li>
                    <a href title="Add Editor" ng-show="multiTab" ng-click="addEmptyTab()">
                        <span class="fa fa-plus"></span>
                        <span class="ladda-label">Add Editor</span>
                    </a>
                </li>
            </ul>
        </li>
        
        <!-- RUN options -->
        <li class="dropdown" on-toggle="toggled(open)">
            <a href="#" class="dropdown-toggle">Run <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-class="{'disabled': (mode === 'JS')}">
                    <a href ng-click="launchCucumber()" title="Run all tests" a-disabled="(mode === 'JS')">

                        <span class="fa  fa-play"></span>
                        <span class="ladda-label">Run</span>
                    </a>
                </li>


                <li ng-class="{'disabled': (mode === 'JS')}">
                    <a href a-disabled="(mode === 'JS')" ng-click="launchAll()" title="Run all tests">
                        <span class="fa  fa-list"></span>
                        <span class="ladda-label">Run All</span>
                    </a>
                </li>

                 <li ng-class="{'disabled':((testExecuting == false) && (mode !== 'JS') )}">
                    <a href a-disabled="((testExecuting == false) && (mode !== 'JS') )" ng-click="stopLaunch()" title="Run all tests">
                        <span class="fa  fa-ban danger"></span>
                        <span class="ladda-label">Stop</span>
                    </a>
                </li>


                <li class="divider"></li>
                <li ng-class="{'disabled': (mode !== 'JS')}">
                    <a href title="Interface Selector Gadget" a-disabled="(mode !== 'JS')" ng-click="activateSelectorGadget()">
                        <span class="fa  fa-hand-o-up"></span>
                        <span class="ladda-label">Selector Gadget</span>
                    </a>
                </li>

                <li ng-class="{'disabled': (mode !== 'JS')}">
                    <a href title="Evaluator" a-disabled="(mode !== 'JS')"  ng-click="evaluate()">
                        <span class="fa  fa-binoculars"></span>
                        <span class="ladda-label">Evaluate</span>
                    </a>
                </li>


            </ul>
        </li>


        <!-- OTHER ACTIONS -->
        <li class="dropdown" on-toggle="toggled(open)">
            <a href="#" class="dropdown-toggle">Other actions <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ui-sref="global.editorarea.configs">
                        <span class="fa fa-list"></span>
                        <span class="ladda-label">Launch Browser</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="global.editorarea.registerBackend">
                        <span class="fa fa-cloud-download"></span>
                        <span class="ladda-label">Register Backend</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="global.multi.help">
                        <span class="fa fa-info-circle"></span>
                        <span class="ladda-label">Help</span>
                    </a>
                </li>
                <li>
                    <a ng-hide="markerIds | isEmpty" ng-click="clearMarkers()">
                        <i class="fa fa-arrow-circle-o-down"></i>
                        <span translate="editor.clearMarkers">Clear Markers</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>
