  <!-- /.content -->
    <div id="tree-bar" ng-class="{'editor': !multiTab, 'multi-editor': multiTab}">
        <ul class="treeview-menu" style="display: block;text-transform: initial;">
            <treecontrol class="tree-classic" expanded-nodes="expandedNodes" tree-model="dataForTheTree" options="opts" ng-dblclick="db()" order-by="type" on-selection="showSelected(node)" on-node-toggle="showToggle(node, expanded)" selected-node="selected">
                <span style="color: {{getColor(node)}}"> {{node.name}}</span>
            </treecontrol>
        </ul>
    </div>

           <section class="sidebar">
            <!-- search form -->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul >

                <li class="tree-panel">
                    <ul class="list-inline">
                        <li class="dropdown">
                            <a href data-toggle="collapse" title="Save">
                                <i class="fa fa-save"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href data-toggle="collapse" title="Set Theme" ng-click="collapseAll()">
                                <i class="fa fa-minus-square-o"></i>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href data-toggle="collapse" title="Set Theme" ng-click="setTheme('monokai')">
                                <i class="fa  fa-circle"></i>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href data-toggle="collapse" title="" ng-click="setTheme('chrome')">
                                <i class="fa  fa-circle-o"></i>
                            </a>
                        </li>

                        <li class="pull-right">
                            <a href data-toggle="collapse" title="New file">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--   <li ng-class="getClass('#/bugtracker')">
                    <a href="#/bugtracker">
                        <i class="fa fa-bug"></i>
                        <span>Test Tracker</span>
                    </a>
                </li> -->


            </ul>

        </section>
        <!-- /.sidebar -->