<!-- *************** BUTTON TOOLBAR ********************-->

<script>
$('.running-data').show();
</script>

<div class="running-data">

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <button id="runningTest" class="ladda-button disabled" data-size="xs" data-style="contract">
                <span class="fa fa-gears"></span>
            </button>
        </a>
        <ul>
            <li><a class="btn-floating" id="teste-out" title="Stop Test" ng-click="stopLaunch()" ng-show="testExecuting != false && (active.mode !== 'JS')"><span class="fa fa-ban"></span></a>
            </li>
            <li>
                <a class="btn-floating blue" id="summary-report" ng-click="openModalReport('lg')" ng-hide="(resultsSummary | isEmpty) || (testExecuting == true)"> <span class="fa  fa-bar-chart"></span>
                </a>
            </li>
            <li>
                <a class="btn-floating" id="clear markers" title="Clear editor markers" ng-click="clearMarkers()" ng-hide="(testExecuting == true)"> <span class="fa  fa-eraser"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end div .stack -->
</div>
<div class="btn-toolbar top-bar" role="toolbar">
    <div class="row">

        <div class="col-md-12">
            <div class="btn-group-sm">
                <a class="btn  btn-default btn-sm" title="Interface Selector Gadget" ng-show="active.mode === 'JS'" ng-click="activateSelectorGadget()">
                    <span class="fa  fa-hand-o-up"></span> Selector Gadget
                </a>
                <a class="btn  btn-default btn-sm" title="Evaluator" ng-show="active.mode === 'JS'" ng-click="evaluate()">
                    <span class="fa  fa-binoculars"></span> Evaluate
                </a>
            </div>
            <div class="btn-group-sm" id="teste">
                <a class="btn btn-primary btn-sm " title="Run test from cursor" ng-show=" (active.mode === 'FEATURE')" ng-click="launchCucumber()" ng-disabled="testExecuting">
                    <span class="fa  fa-play"></span> Run Test
                </a>
                <a class="btn btn-primary btn-sm" type="button" ng-click="launchAll()" title="Run all tests" ng-show="(active.mode === 'FEATURE')" ng-disabled="testExecuting">
                    <i class="fa fa-list-alt"></i> Run All
                </a>

                <span class="col-sm-2 pull-right">
                    <span style="color:black; white-space:nowrap;">
                        {{testsExecuted}} / {{totalTests}}
                    </span>

                <progressbar ng-attr-type="{{ isFailing ? 'danger' : 'success' }}" class="progress-striped active" max="100" value="( testsExecuted * 100 ) / totalTests" style="height: 10px;">
                </progressbar>
                </span>
            </div>



        </div>
    </div>



</div>
<div id="tabs">
    <!-- <div class="scroller"> -->
    <!-- <a href="#" id="right-button"><i class="fa fa-arrow-circle-right"/></a> -->
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

    </ul>
    <!-- <a href="#" id="left-button"><i class="fa fa-arrow-circle-left"/></a> -->
    <!-- </div> -->
</div>
