<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" role="form">
            <fieldset>
                <!-- Form Name -->
                <legend>Project Configurations</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="project.name">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="project.description">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Type SCM</label>
                    <div class="col-sm-10">
                        <div>
                            <label>
                                <input type="radio" name="sourceRepository" ng-model="project.repository_type" value="GIT" checked>Git
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="sourceRepository" ng-model="project.repository_type" value="SUBVERSION" checked>Subversion
                            </label>
                        </div>
                    </div>
                </div>

                 <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Repository Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="project.repository_url">
                    </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Other config</label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="Other Config" class="form-control">
                    </div>

                    <label class="col-sm-2 control-label" for="textinput">Other Config</label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="Other Config" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
