<div class="modal fade " id="launchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-center modal-lg">


        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Tests
                    <!-- NG IF -->
                    <span ng-if="resultsSummary.failures > 0">

                        <span class="label label-danger ">
                            Failing <i class="fa fa-thumbs-down"></i>
                        </span>
                    </span>

                    <!-- NG IF -->
                    <span ng-if="resultsSummary.failures == 0">
                        <span class="label label-success">
                            Passing  <i class="fa fa-thumbs-up"></i>
                        </span>
                    </span>
                </h4>
            </div>
            <div class="modal-body">



                <div class="panel-body">
                    <p>{{results ? 'Completed' : 'Launching'}} {{launchParams.fileProps.relativeUri}}:{{launchParams.line}}.</p>

                    <table class="pull-left col-md-8 ">
                        <tbody>

                            <tr>
                                <td class="h4">
                                    <i class="fa fa-rocket"></i>
                                    <strong>Run Count</strong>
                                </td>
                                <td></td>
                                <td class="h4">{{resultsSummary.runCount}} Steps</td>
                            </tr>

                            <tr>
                                <td class="h4 colored">
                                    <i class="fa fa-check-square "></i>
                                    <strong>Passing</strong>
                                </td>
                                <td></td>
                                <td class="h4">{{resultsSummary.passed}}</td>
                            </tr>

                            <tr>
                                <td class="h4 colored">
                                    <i class="fa fa-bug "></i>
                                    <strong>Failures</strong>
                                </td>
                                <td></td>
                                <td class="h4">{{resultsSummary.failures}}</td>
                            </tr>

                            <tr>
                                <td class="h4 colored">
                                    <i class="fa fa-warning "></i>
                                    <strong>Skipped</strong>
                                </td>
                                <td></td>
                                <td class="h4">{{resultsSummary.skipped}}</td>
                            </tr>

                            <tr>
                                <td class="h4">
                                    <i class="fa fa-clock-o"></i>
                                    <strong>Run Time</strong>
                                </td>
                                <td></td>
                                <td class="h4">{{resultsSummary.runTime | durationInMinutes}} seconds</td>
                            </tr>

                            <tr>
                                <td class="btn-mais-info text-primary">
                                    <i class="open_info fa fa-plus-square-o"></i>
                                    <i class="open_info hide fa fa-minus-square-o"></i> See Complete Report
                                </td>
                                <td></td>
                                <td class="h5"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
