<div class="modal-header">
    <strong class="pull-left primary-font"> <span class="fa fa-info-circle"> {{operationName}}</strong>
    <small class="pull-right text-muted">
    <span class="fa fa-pencil-square-o"></span>{{elemClick}}</small>
</div>
<div class="modal-body">
    <p>Name:</p>
    <form name="signInForm" ng-submit="ok()">
        <input class="form-control" data-tabindex="1" type="text" ng-model="selectedItem" required autofocus>
    


<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="signInForm.$invalid">Update</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
</div>
</form>
