<!-- search form -->
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul>

    <li class="tree-panel">
        <ul class="list-inline">
            <li class="dropdown">
                <a href title="Refresh folders" ng-click="refresh()">
                    <i class="fa fa-refresh"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href title="Collapse all" ng-click="collapseAll()">
                    <i class="fa fa-minus-square-o"></i>
                </a>
            </li>

            <li class="dropdown">
                <a href title="Search File (Ctrl + P)" modal state='global.editorarea.sub.open'>
                    <i class="fa fa-search"></i>
                </a>
            </li>


            <li class="pull-right">
                <a href title="New file" modal state="global.editorarea.sub.newFile">
                    <i class="fa fa-plus"></i>
                </a>
            </li>

        </ul>
    </li>
</ul>



<!-- /.sidebar -->
<!-- /.content -->
<div id="tree-bar" class="tree-bar">
    <ul class="treeview-menu" style="display: block;text-transform: initial;">
        <treecontrol class="tree-classic" expanded-nodes="expandedNodes" tree-model="dataForTheTree" options="opts" ng-dblclick="db()" order-by="type" on-selection="showSelected(node)" on-node-toggle="showToggle(node, expanded)" selected-node="selected" tree-menu-model="menuModel" on-click-menu="clickMenu(node, item)">
            <span title="{{node.relativeUri}}" class="tree-elem" data-name="{{node.name}}" data-relative-uri="{{node.relativeUri}}" data-type="{{node.type}}" data-project="{{node.project}}">
                {{node.name}} 
            </span>
        </treecontrol>
    </ul>
    <small style="margin-left:50px;" ng-hide="hasProject" ng-cloak>
        No project defined
        <a class="" href title="open project" modal state="global.editorarea.sub.importProject">
            <span class="ladda-label">open</span>
        </a>
        or
         <a class="" href title="new project" modal state="global.editorarea.sub.newProject">
            <span class="ladda-label">create</span>
        </a>
        one
    </small>
</div>



<!-- <h1>Expanded</h1> {{expandedNodes}} -->

<div id="context-menu2" style="position: absolute; z-index: 9999; top: 443px; left: 268px;" class="">
    <ul class="dropdown-menu" role="menu">
        <li ng-show="clickedType == 'DIR' || clickedType == 'PROJECT'">
            <a href tabindex="-1" ng-click="open('newFolder')"><i class="fa fa-folder-o"></i>New Folder</a>
        </li>
        <li ng-show="clickedType == 'DIR' || clickedType == 'PROJECT'">
            <a href tabindex="-1" ng-click="open('newFile')"><i class="fa fa-file"></i>New File</a>
        </li>

        <li ng-show="clickedType == 'FILE'">
            <a href tabindex="-1" ng-click="open('rename')"><i class="fa fa-pencil"></i>Rename</a>
        </li>

        <li ng-show="clickedType == 'DIR'">
            <a href tabindex="-1" ng-click="open('renameFolder')"><i class="fa fa-pencil"></i>Rename Folder</a>
        </li>


        <li class="divider" ng-show="clickedType == 'DIR' || clickedType == 'FILE'"></li>

        <li ng-show="clickedType == 'DIR'">
            <a href tabindex="-1" ng-click="open('deleteDirectory')"><i class="fa fa-trash-o danger"></i><span class="danger">Delete Folder</span></a>
        </li>

        <li ng-show="clickedType == 'FILE'">
            <a href tabindex="-1" ng-click="open('delete')"><i class="fa fa-trash-o danger"></i><span class="danger">Delete</span></a>
        </li>
    </ul>
</div>
