<header class="header">
    <a href="#/editor" class="logo navbar-brand">
        <span class="text">Minium</span>

    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href class="navbar-btn sidebar-toggle" sidebar-toggle="active" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right" ng-switch="authenticated">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-warning"></i>
                        <span class="label label-warning">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 1 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-info"></i> New Project
                                        </a>
                                    </li>
                                </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a>
                        </li>
                    </ul>
                </li>

                <li ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                        <span class="hidden-tablet" translate="global.menu.entities.main">
                                Entities
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li ng-switch-when="true">
                            <a href="#/project">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;project</a>
                        </li>
                       <!--  <li ng-switch-when="true">
                            <a href="#/build">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;build</a>
                        </li> -->
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-tablet" translate="global.menu.account.main">
                                Account
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li ng-switch-when="true">
                            <a href="#/settings">
                                <span class="glyphicon glyphicon-wrench"></span> &nbsp;
                                <span translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ng-switch-when="true">
                            <a href="#/password">
                                <span class="glyphicon glyphicon-lock"></span> &nbsp;
                                <span translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ng-switch-when="true">
                            <a href="#/sessions">
                                <span class="glyphicon glyphicon-cloud"></span> &nbsp;
                                <span translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ng-switch-when="true">
                            <a href="#/logout">
                                <span class="glyphicon glyphicon-log-out"></span> &nbsp;
                                <span translate="global.menu.account.logout">Log out</span>
                            </a>
                        </li>
                        <li ng-switch-when="false">
                            <a href="#/login">
                                <span class="glyphicon glyphicon-log-in"></span> &nbsp;
                                <span translate="global.menu.account.login">Authenticate</span>
                            </a>
                        </li>

                        <li ng-switch-when="false">
                            <a href="#/register">
                                <span class="glyphicon glyphicon-plus-sign"></span> &nbsp;
                                <span translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer" ng-controller="AdminController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                        <span class="hidden-tablet" translate="global.menu.admin">Admin</span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/metrics">
                                <span class="glyphicon glyphicon-dashboard"></span> &nbsp;
                                <span translate="global.menu.account.metrics">Metrics</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/health">
                                <span class="glyphicon glyphicon-heart"></span> &#xA0;
                                <span translate="global.menu.account.health">Health</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/audits">
                                <span class="glyphicon glyphicon-bell"></span> &nbsp;
                                <span translate="global.menu.account.audits">Audits</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/logs">
                                <span class="glyphicon glyphicon-tasks"></span> &nbsp;
                                <span translate="global.menu.account.logs">Logs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/docs">
                                <span class="glyphicon glyphicon-book"></span> &nbsp;
                                <span translate="global.menu.account.apidocs">API Docs</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-tablet" translate="global.menu.language">Language</span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{key}}" ng-repeat="(key, language) in languages">
                            <a href="javascript:;" ng-click="changeLanguage(key)">{{language}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
    </nav>
</header>

<!---********************************************** HEADER END ***********-->
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="form.searchQuery" ng-change="search()"/>
                    <span class="input-group-btn">
                        <button type='button' class="btn btn-flat">
                            <i class="glyphicon glyphicon-search" ></i>
                        </button>
                    </span>
                </div>
            </form>

            <div class="list-group">
                <a ng-repeat="item in results | orderBy : 'uri' | limitTo: 5" ng-click="select(item)" class="list-group-item">
                    <h4 class="list-group-item-heading">{{item.name}}</h4>
                    <p class="list-group-item-text nowrap hideoverflow">{{item.relativeUri | unescape}}</p>
                </a>
            </div>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li ng-class="getClass('#/dashboard')">
                    <a href="#/dashboard">
                        <i class="glyphicon glyphicon-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li ng-class="getClass('#/editor')">
                    <a ui-sref="global.editorarea">
                        <i class="glyphicon glyphicon-pencil"></i>
                         <span translate="global.menu.editor">Editor</span>
                    </a>
                </li>

                <!--  <li ng-class="getClass('#/editor')">
                    <a href="#/editor-multi">
                        <i class="glyphicon glyphicon-pencil"></i> 
                        <span>Multi Editor</span>
                    </a>
                </li> -->

                <li ng-class="getClass('#/project')">
                    <a ui-sref="global.project">
                        <i class="glyphicon glyphicon-list"></i>
                        <span translate="global.menu.projects">Projects</span>
                    </a>
                </li>

                <li ng-class="getClass('#/bugtracker')">
                    <a href="#/bugtracker">
                        <i class="fa fa-bug"></i>
                        <span>Bug Tracker</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!--content-->
    <div class="full" ui-view></div>

</div>
<!-- ./wrapper -->