<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            <i class="fa fa-file"></i>
            Feature
            <small>{{feature.rawName}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-dashboard"></i> Home</a>
            </li>
            <li class=>Report X</li>
            <li class="active">Feature X</li>

        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="contentpanel">
            <div class="panel">
                <div class="panel-heading">
                    <h5>{{feature.rawName}}</h5>
                    <div class="panel-title">
                        <h2></h2>
                    </div>

                    <div class="btn-group pull-right">
                        <a class="btn btn-primary" ng-href="#/editor/{{feature.uri}}?line=1" target="_blank">Go to File</a>

                        <!-- Button trigger modal -->
                        <button class="btn btn-default" href="#stats" data-toggle="modal" data-target="#summary">
                            Summary
                        </button>

                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button">
                            <i class="fa fa-arrow-circle-o-down "></i> Export
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Word</a>
                            </li>
                            <li><a href="#">Text</a>
                            </li>
                            <li><a href="#">Spreadsheet</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- panel-heading-->
                <div class="panel-body">
                    <label>Search:
                        <input type="text" ng-model="query">
                    </label>
                    <!-- BACKGROUND -->
                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.open">
                            <accordion-heading class="success">
                                <i ng-if="isPassed(background.status)" class="success fa fa-check-square "></i>
                                <i ng-if="!isPassed(background.status)" class="danger fa fa-bug "></i>
                                <strong>{{background.keyword}}</strong>

                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>

                                <a class="pull-right btn btn-primary btn-xs" ng-href="#/editor/{{step.match.location}}?line=1" target="_blank">Step file</a>

                                <a class="pull-right btn btn-warning btn-xs" ng-href="#/editor/{{step.match.location}}?line=1" target="_blank">Go to</a>
                            </accordion-heading>
                            <table class="table table-primary table-list">
                                <thead>
                                    <tr>
                                        <th>Step</th>
                                        <th></th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="step in background.steps  | filter:query">
                                        <td>
                                            <p ng-class="{'danger' : !isPassed(step.status),'success' : isPassed(step.status)}"> {{step.rawName}}
                                            </p>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-xs" ng-href="#/editor/{{step.match.location }}?line={{step.match.location}}" target="_blank">
                                        Go Step file
                                    </a>

                                        </td>
                                        <td>
                                            {{step.status}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </accordion-group>
                    </accordion>

                    <div ng-include="'views/project/partials/features-details.html'"></div>

                </div>
                <!-- panel-body -->
            </div>
            <!-- panel -->
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
