<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            <i class="fa fa-file"></i>
            Feature
            <small>{{feature.rawName}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-dashboard"></i> Home</a>
            </li>
            <li class=>Report X</li>
            <li class="active">Feature X</li>

        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="contentpanel">
            <div class="panel">
                <div class="panel-heading">
                    <h5>{{feature.rawName}}</h5>
                    <div class="panel-title">
                        <h2></h2>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" ng-href="#/editor/{{feature.uri}}?line=1" target="_blank">Go to File</button>
                        <button class="btn btn-default" type="button">Close Issue</button>

                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button">
                            <i class="fa fa-arrow-circle-o-down "></i> Export
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Word</a>
                            </li>
                            <li><a href="#">Text</a>
                            </li>
                            <li><a href="#">Spreadsheet</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- panel-heading-->
                <div class="panel-body">
                    <label>Search:
                        <input aria-controls="example1" type="text">
                    </label>
                    <table class="table table-primary table-list">
                        <thead>
                            <tr>
                                <th>Result</th>
                                <th>Feature</th>
                                <th>Total</th>
                                <th>Passed</th>
                                <th>Failed</th>

                                <th>Duration</th>
                                <th>File</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-class="{'danger' : !isPassed(element.status),'success' : isPassed(element.status)}" ng-repeat="element in feature.elements">
                                <td>
                                    {{element.keyword}}
                                    <span ng-repeat="step in element.steps">
                                     <p> {{step.rawName}}</p>
                                  </span>
                                </td>
                                <td>
                                    {{element.status}}
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <!-- table-responsive -->

                </div>
                <!-- panel-body -->
            </div>
            <!-- panel -->

        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
