<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->

        <section class="col-md-7 connectedSortable ui-sortable">
            <div class="row">
                <div class="box box-danger">
                    <div class="box-header">
                        <i class="glyphicon glyphicon-comments-o"></i>
                        <h3 class="box-title">Failing Tests</h3>
                        <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                            <span class="label label-danger">Failing</span>
                        </div>
                    </div>
                    <div class="box-body ">
                        <table class="table table-striped ">
                            <thead>

                                <tr>
                                    <th>Project</th>
                                    <th>Feature</th>
                                    <th>Error</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mpay</td>
                                <td>Test Order table</td>
                                <td>Expected 2 rows, but got 3</td>
                                <td class="text-center">
                                    <a class='btn btn-info btn-xs' href="#/editor/features/cgd/Consultas/Lojas/Filtros.feature?line=3">
                                        <span class="glyphicon glyphicon-edit"></span>Go</a>

                                </td>
                            </tr>
                            <tr>
                                <td>Mpay</td>
                                <td>Products</td>
                                <td>Main Products</td>
                                <td class="text-center">
                                    <a class='btn btn-info btn-xs' href="#/editor/features/cgd/Consultas/Lojas/Filtros.feature?line=80">
                                        <span class="glyphicon glyphicon-edit"></span>Go</a>

                                </td>
                            </tr>
                            <tr>
                                <td>Mpay</td>
                                <td>Blogs</td>
                                <td>Parent Blogs</td>
                                <td class="text-center">
                                    <a class='btn btn-info btn-xs' href="#/editor/features/cgd/Consultas/Lojas/Filtros.feature?line=91">
                                        <span class="glyphicon glyphicon-edit"></span>Go</a>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-->

                </div>
            </div>





            <div class="row">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="glyphicon glyphicon-comments-o"></i>
                        <h3 class="box-title">Feed</h3>
                    </div>
                    <div class="box-body ">

                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">MPay</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                        <strong class="pull-right primary-font">Porto Seguro</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Project X</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                        <strong class="pull-right primary-font">Project Y</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- /.box-->

                </div>
            </div>


            <div class="row">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Projects</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                                <tr>

                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <span class="label label-info">Working</span>
                                        </p>
                                        <p class="list-item-date"><i class="fa fa-clock-o"></i> 17:43</p>
                                    </td>
                                    <td>
                                        <h4>Mpay</h4>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </td>

                                    <td>
                                        <span class="badge bg-red">55%</span>
                                    </td>


                                    <td class="text-center">
                                        <nvd3-pie-chart data="exampleData" id="exampleId" x="xFunction()" y="yFunction()" showLabels="true" pieLabelsOutside="false" showValues="true">
                                            <svg></svg>
                                        </nvd3-pie-chart>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </section>
        <!-- end of section col-md-7 -->



        <section class="col-md-5 connectedSortable ui-sortable">

            <div class="box box box-primary">
                <div class="box-header">
                    <i class="glyphicon glyphicon-comments-o"></i>
                    <h3 class="box-title">Jobs</h3>
                </div>
                <div class="box-body ">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>MPay CGD</td>
                                <td>
                                    <span class="label label-success">Success</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded ">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>MPay Store</td>
                                <td>
                                    <span class="label label-success">Success</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded ">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>LogView</td>
                                <td>
                                    <span class="label label-warning">Warning</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded ">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            60%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Porto Seguro</td>
                                <td>
                                    <span class="label label-success">Success</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded ">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                            90%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Mies - Intranet</td>
                                <td>
                                    <span class="label label-warning">Warning</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded ">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                            45%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Mapy</td>
                                <td>
                                    <span class="label label-danger">Danger</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded ">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                            40%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>LaCaixa</td>
                                <td>
                                    <span class="label label-success">Success</span>
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded mt-xs light">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                            95%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.box-->
            </div>


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Progress</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Task</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Feature X</td>
                                <td>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-red">55%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Feature X</td>
                                <td>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-yellow">70%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Feature X</td>
                                <td>
                                    <div class="progress xs progress-striped active">
                                        <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light-blue">30%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Feature X</td>
                                <td>
                                    <div class="progress xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>






        </section>
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->


<div ui-view></div>
