<header class="header">
    <a href="index.html" class="logo navbar-brand">
        <span class="text">Cucumby</span>

    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href class="navbar-btn sidebar-toggle" sidebar-toggle="active" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-warning"></i>
                        <span class="label label-warning">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 1 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-info"></i> New Project
                                        </a>
                                    </li>
                                </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Mr.Minium<i class="caret"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Projects</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!---********************************************** HEADER END ******************************************-->
<!---********************************************** *****************************************************-->
<!---********************************************** *****************************************************-->
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li ng-class="getClass('#/dashboard')">
                    <a href="#/dashboard">
                        <i class="glyphicon glyphicon-dashboard"></i> 
                        <span>Dashboard</span>
                    </a>
                </li>

                <li ng-class="getClass('#/editor')">
                    <a href="#/editor">
                        <i class="glyphicon glyphicon-pencil"></i> 
                        <span>Editor</span>
                    </a>
                </li>

                <li ng-class="getClass('#/bugtracker')">
                    <a href="#/bugtracker">
                        <i class="fa fa-bug"></i>
                        <span>Bug Tracker</span>
                    </a>
                </li>

                <li ng-class="getClass('#/projects')">
                    <a href="#/projects">
                        <i class="fa  fa-code-fork"></i>
                        <span>Projects</span>
                    </a>
                </li>

                <li ng-class="getClass('#/jobs')">
                    <a href="#/jobs">
                        <i class="fa  fa-code-fork"></i>
                        <span>Jobs</span>
                    </a>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!--content-->
    <div class="full" ui-view></div>

</div>
<!-- ./wrapper -->
