<div class="panel-body">
	<legend translate="actions.dependencies">Dependencies</legend>

	<div ng-if="loadedDependencies.length == 0" class="alert alert-info">
			<i class="fa fa-info"></i>
			<span translate="project.dependencies.messages.no_dependency">No dependency is currently loaded. To load dependencies, add them to the pom.xml file of the project and click on Update.</span>
	</div>

	<div class="list-group">
		<a ng-repeat="dependency in loadedDependencies" class="list-group-item">
			<p class="list-group-item-text nowrap hideoverflow">{{removeJarExtension(dependency)}}</p>
		</a>
	</div>

	<div class="modal-footer">
		<button id="updateDependenciesBtn" ng-click="updateDependencies()"
						data-style="expand-right" class="btn btn-primary ladda-button my-ladda-btn">
			<span class="fa fa-refresh"></span>
			<span translate="entity.action.update">Update</span>
		</button>
		<button class="btn btn-default" ng-click="cancel()" translate="entity.action.cancel">
			Cancel
		</button>
	</div>
</div>