<div class="container">
    <div class="well well-sm">
        <strong>Builds</strong>
    </div>
    <div id="builds-list" class="row list-group">

        <div class="item  col-xs-4 col-lg-4" ng-repeat="build in builds">
            <div class="thumbnail panel-border-top-danger" ng-class="{'panel-border-top-success' : isSuccess(build.result)}">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{build.fullDisplayName}}
                        <i ng-if="isSuccess(build.result)" class="success fa fa-check-square fa-2x"></i>
                        <i ng-if="!isSuccess(build.result)" class="danger fa fa-check-bug fa-2x"></i>
                    </h4>
                    <p class="group inner list-group-item-text">
                        Description {{build.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                <i class="fa fa-clock-o"></i> {{build.id}}
                            </p>
                            <small>{{build.id | humanizeDate}}</small>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="">View Build</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail panel-border-top-danger">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{item.builds}} <i class="danger fa fa-bug fa-2x"></i>
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{item}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn" ng-class="{'btn-success' : isSuccess(build.result), 'btn-danger' : !isSuccess(build.result) }" href="">View Build</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
