<div class="form-horizontal container-fluid scheduler" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="startDate">Start Date</label>
        <div class="row col-sm-10">

            <div class="col-sm-8 form-group">
                <div class="datepicker start-date">
                    <div class="input-group">
                        <input class="form-control" id="startDate" type="text">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="sr-only">Toggle Calendar</span>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <label class="sr-only" for="startTime">Start Time</label>
                <div class="input-group combobox start-time">
                    <input id="startTime" type="text" class="form-control">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href>12:00 AM</a>
                            </li>
                            <li><a href>12:30 AM</a>
                            </li>
                            <li><a href>1:00 AM</a>
                            </li>
                            <li><a href>1:30 AM</a>
                            </li>
                            <li><a href>2:00 AM</a>
                            </li>
                            <li><a href>2:30 AM</a>
                            </li>
                            <li><a href>3:00 AM</a>
                            </li>
                            <li><a href>3:30 AM</a>
                            </li>
                            <li><a href>4:00 AM</a>
                            </li>
                            <li><a href>4:30 AM</a>
                            </li>
                            <li><a href>5:00 AM</a>
                            </li>
                            <li><a href>5:30 AM</a>
                            </li>
                            <li><a href>6:00 AM</a>
                            </li>
                            <li><a href>6:30 AM</a>
                            </li>
                            <li><a href>7:00 AM</a>
                            </li>
                            <li><a href>7:30 AM</a>
                            </li>
                            <li><a href>8:00 AM</a>
                            </li>
                            <li><a href>8:30 AM</a>
                            </li>
                            <li><a href>9:00 AM</a>
                            </li>
                            <li><a href>9:30 AM</a>
                            </li>
                            <li><a href>10:00 AM</a>
                            </li>
                            <li><a href>10:30 AM</a>
                            </li>
                            <li><a href>11:00 AM</a>
                            </li>
                            <li><a href>11:30 AM</a>
                            </li>
                            <li><a href>12:00 PM</a>
                            </li>
                            <li><a href>12:30 PM</a>
                            </li>
                            <li><a href>1:00 PM</a>
                            </li>
                            <li><a href>1:30 PM</a>
                            </li>
                            <li><a href>2:00 PM</a>
                            </li>
                            <li><a href>2:30 PM</a>
                            </li>
                            <li><a href>3:00 PM</a>
                            </li>
                            <li><a href>3:30 PM</a>
                            </li>
                            <li><a href>4:00 PM</a>
                            </li>
                            <li><a href>4:30 PM</a>
                            </li>
                            <li><a href>5:00 PM</a>
                            </li>
                            <li><a href>5:30 PM</a>
                            </li>
                            <li><a href>6:00 PM</a>
                            </li>
                            <li><a href>6:30 PM</a>
                            </li>
                            <li><a href>7:00 PM</a>
                            </li>
                            <li><a href>7:30 PM</a>
                            </li>
                            <li><a href>8:00 PM</a>
                            </li>
                            <li><a href>8:30 PM</a>
                            </li>
                            <li><a href>9:00 PM</a>
                            </li>
                            <li><a href>9:30 PM</a>
                            </li>
                            <li><a href>10:00 PM</a>
                            </li>
                            <li><a href>10:30 PM</a>
                            </li>
                            <li><a href>11:00 PM</a>
                            </li>
                            <li><a href>11:30 PM</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group repeat-container">
        <label class="col-sm-2 control-label scheduler-label">Repeat</label>
        <div class="col-sm-10">

            <div class="form-group repeat-interval">

                <div data-resize="auto" class="btn-group selectlist pull-left repeat-options">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span class="selected-label">{{repeatInterval.name}}</span>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="option in options" data-value="{{option.value}}" data-selected="true" ng-click="setValue(option)">
                            <a href>
                          {{option.name}}
                        </a>
                        </li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="intervalSelectlist" class="hidden hidden-field">
                </div>

                <div class="col-sm-8 form-group">
                    <div class="repeat-panel" ng-show="repeatInterval.value == 'daily' || repeatInterval.value == 'hourly' || repeatInterval.value == 'weekly'">
                        <label id="MySchedulerEveryLabel" class="inline-form-text repeat-every-pretext">every</label>

                        <div class="col-xs-3 repeat-every">

                            <input type="text" class="form-control">
                        </div>

                        <div class="inline-form-text repeat-every-text"></div>
                    </div>
                </div>
            </div>

            <!-- WEEKLY -->
            <div class="form-group repeat-panel" ng-show="repeatInterval.value == 'weekly'">
                <fieldset class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="checkbox" data-value="SU">Sun
                    </label>
                    <label class="btn btn-default active">
                        <input type="checkbox" data-value="MO">Mon
                    </label>
                    <label class="btn btn-default active">
                        <input type="checkbox" data-value="TU">Tue
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" data-value="WE"> Wed
                    </label>
                    <label class="btn btn-default active">
                        <input type="checkbox" data-value="TH"> Thu
                    </label>
                    <label class="btn btn-default active">
                        <input type="checkbox" data-value="FR"> Fri
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" data-value="SA"> Sat
                    </label>
                </fieldset>
            </div>

            <!-- MONTHLY -->
            <div class="repeat-panel" aria-hidden="false" ng-show="repeatInterval.value == 'monthly'">
                <div class="form-group repeat-monthly-date">
                    <div class="radio pull-left">
                        <label class="radio-custom">
                            <input class="sr-only" type="radio" checked="checked" name="repeat-monthly" value="bymonthday">
                            <span class="radio-label">on day</span>
                        </label>
                    </div>

                    <div data-resize="auto" class="btn-group selectlist pull-left">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="selected-label">1</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="height:200px; overflow:auto;">
                            <li data-value="1" data-selected="true"><a href>1</a>
                            </li>
                            <li data-value="2"><a href>2</a>
                            </li>
                            <li data-value="3"><a href>3</a>
                            </li>
                            <li data-value="4"><a href>4</a>
                            </li>
                            <li data-value="5"><a href>5</a>
                            </li>
                            <li data-value="6"><a href>6</a>
                            </li>
                            <li data-value="7"><a href>7</a>
                            </li>
                            <li data-value="8"><a href>8</a>
                            </li>
                            <li data-value="9"><a href>9</a>
                            </li>
                            <li data-value="10"><a href>10</a>
                            </li>
                            <li data-value="11"><a href>11</a>
                            </li>
                            <li data-value="12"><a href>12</a>
                            </li>
                            <li data-value="13"><a href>13</a>
                            </li>
                            <li data-value="14"><a href>14</a>
                            </li>
                            <li data-value="15"><a href>15</a>
                            </li>
                            <li data-value="16"><a href>16</a>
                            </li>
                            <li data-value="17"><a href>17</a>
                            </li>
                            <li data-value="18"><a href>18</a>
                            </li>
                            <li data-value="19"><a href>19</a>
                            </li>
                            <li data-value="20"><a href>20</a>
                            </li>
                            <li data-value="21"><a href>21</a>
                            </li>
                            <li data-value="22"><a href>22</a>
                            </li>
                            <li data-value="23"><a href>23</a>
                            </li>
                            <li data-value="24"><a href>24</a>
                            </li>
                            <li data-value="25"><a href>25</a>
                            </li>
                            <li data-value="26"><a href>26</a>
                            </li>
                            <li data-value="27"><a href>27</a>
                            </li>
                            <li data-value="28"><a href>28</a>
                            </li>
                            <li data-value="29"><a href>29</a>
                            </li>
                            <li data-value="30"><a href>30</a>
                            </li>
                            <li data-value="31"><a href>31</a>
                            </li>
                        </ul>
                        <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist" class="hidden hidden-field">
                    </div>
                </div>

                <div class="repeat-monthly-day form-group">
                    <div class="radio pull-left checked">
                        <label class="radio-custom checked">
                            <input class="sr-only" type="radio" checked="checked" name="repeat-monthly" value="bysetpos">
                            <span class="radio-label">on the</span>
                        </label>
                    </div>

                    <div data-resize="auto" class="btn-group selectlist month-day-pos pull-left">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="selected-label">Second</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href>First</a>
                            </li>
                            <li data-value="2" data-selected="true"><a href>Second</a>
                            </li>
                            <li data-value="3"><a href>Third</a>
                            </li>
                            <li data-value="4"><a href>Fourth</a>
                            </li>
                            <li data-value="-1"><a href>Last</a>
                            </li>
                        </ul>
                        <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist" class="hidden hidden-field">
                    </div>

                    <div data-resize="auto" class="btn-group selectlist month-days pull-left">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="selected-label">Thursday</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="SU"><a href>Sunday</a>
                            </li>
                            <li data-value="MO"><a href>Monday</a>
                            </li>
                            <li data-value="TU"><a href>Tuesday</a>
                            </li>
                            <li data-value="WE"><a href>Wednesday</a>
                            </li>
                            <li data-value="TH" data-selected="true"><a href>Thursday</a>
                            </li>
                            <li data-value="FR"><a href>Friday</a>
                            </li>
                            <li data-value="SA"><a href>Saturday</a>
                            </li>
                            <li data-value="SU,MO,TU,WE,TH,FR,SA"><a href>Day</a>
                            </li>
                            <li data-value="MO,TU,WE,TH,FR"><a href>Weekday</a>
                            </li>
                            <li data-value="SU,SA"><a href>Weekend day</a>
                            </li>
                        </ul>
                        <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist" class="hidden hidden-field">
                    </div>

                </div>
            </div>


        </div>
    </div>

    <!-- END DATE -->
    <div class="form-group repeat-end" aria-hidden="false" ng-show="repeatInterval.value == 'daily' || repeatInterval.value == 'hourly' || repeatInterval.value == 'weekly' || repeatInterval.value == 'weekdays'  || repeatInterval.value == 'monthly'">
        <label class="col-sm-2 control-label scheduler-label">End</label>
        <div class="col-sm-10 row">
            <div class="col-sm-3 form-group">
                <div data-resize="auto" class="btn-group selectlist end-options pull-left">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span class="selected-label">On date</span>
                        <span class="caret"></span>
                        <span class="sr-only">Never</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-value="never"><a href>Never</a>
                        </li>
                        <li data-value="after"><a href>After</a>
                        </li>
                        <li data-value="date" data-selected="true"><a href>On date</a>
                        </li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="EndSelectlist" class="hidden hidden-field">
                </div>
            </div>

            <div class="col-sm-6 form-group end-option-panel end-after-panel pull-left hide" aria-hidden="true">
                <div class="spinbox digits-3 end-after">
                    <label id="MyEndAfter" class="sr-only">End After</label>
                    <input type="text" class="form-control input-mini spinbox-input" aria-labelledby="MyEndAfter">
                    <div class="spinbox-buttons btn-group btn-group-vertical">
                        <button type="button" class="btn btn-default spinbox-up btn-xs">
                            <span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
                        </button>
                        <button type="button" class="btn btn-default spinbox-down btn-xs">
                            <span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
                        </button>
                    </div>
                </div>
                <div class="inline-form-text end-after-text">occurance(s)</div>
            </div>

            <div class="col-sm-8 form-group end-option-panel end-on-date-panel pull-left" aria-hidden="false">
                <div class="datepicker input-group end-on-date">
                    <div class="input-group">
                        <input class="form-control" type="text">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="sr-only">Toggle Calendar</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary"><i class="fa fa-plus"></i> Schedule</button>
</div>
