<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" translate="webdriver.browsers">Browsers</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="alert alert-error alert-warning" ng-show="error">
            <i class="fa fa-warning"></i> {{errorMessage}}
        </div>
         <form class="webdrivers">

            <button type='button' class='btn btn-default'
                ng-class='{active: isActive(webdriver)}'
                ng-repeat='webdriver in webdrivers'
                ng-click='activate(webdriver)'>
                <i class='{{getIcon(webdriver)}} gl-lg'></i><br>
                {{webdriver.displayName}}   {{webdriver.version}}
            </button>

            <br/>
            <br/>
            <label ng-show="selectedBrowserCanBeLaunchedWithRecorder">
              <input type="checkbox" ng-model="createWebDriverWithRecorder">
              <span translate="webdriver.launch_with_recorder">
                Launch with Minium Recorder
              </span>
            </label>

           <div ng-show="useRemoteWebDriver">
            <br>

                <div class="btn-group col-sm-5">

                    <label class="btn btn-default btn-xs">
                        <input type="radio"
                        name="advancedCapabilities"
                        data-ng-model="advancedCapabilities"
                        ng-value="false">
                        <span translate="webdriver.remote.url">Remote Url</span>
                    </label>
                    <label class="btn btn-default btn-xs"
                        popover="{{'webdriver.advanced.popover' | translate}}"
                        popover-trigger="mouseenter">
                        <input type="radio"
                        name="advancedCapabilities"
                        data-ng-model="advancedCapabilities"
                        ng-value="true"
                        >
                        <span translate="webdriver.advanced">Advanced</span>
                    </label>
                </div>
                <div class="col-sm-7 ">

                    <span ng-hide="advancedCapabilities">
                        <input type="text"
                                ng-model="remoteWebDriverUrl"
                                placeholder="{{'webdriver.remote.url' | translate}}"
                                class="form-control" />
                    </span>
                    <span ng-hide="!advancedCapabilities"
                          class="has-feedback"
                          ng-class="{ 'has-error' : advancedWebDriverForm.jsonConfig.$error.validJson ,
                                'has-success' : !advancedWebDriverForm.jsonConfig.$error.validJson
                                     && !advancedWebDriverForm.jsonConfig.$pristine}"
                          ng-form
                          name="advancedWebDriverForm">
                        <textarea class="form-control textarea-resizable-vertical "
                            id="advanced-field"
                            name= "jsonConfig"
                            ng-model="advancedCapabilitiesConfig"
                            ng-keyup="validateJSON($event)"
                            ></textarea>
                        <br>
                        <button class="btn btn-default btn-xs pull-right"
                                ng-click="addDefaultJson()">
                                Add default JSON
                        </button>

                        <span class="text-danger pull-left label-feedback"
                              ng-show="advancedWebDriverForm.jsonConfig.$error.validJson"
                              translate="webdriver.messages.invalidJSON">
                           Invalid JSON
                        </span>

                        <span class="text-success pull-left label-feedback"
                                ng-show="!advancedWebDriverForm.jsonConfig.$error.validJson
                                         && !advancedWebDriverForm.jsonConfig.$pristine"
                                translate="webdriver.messages.validJSON">
                            Valid JSON
                        </span>
                    </span>
                </div>

            </div> <!-- ./user remote url div -->
        </form>

    </div><!-- /.panel-body  -->
</div><!-- /.modal-body -->

<div class="modal-footer">
    <button class="btn btn-default pull-left" id="remoteWebDriver" ng-click="setRemoteWebDriver()">
        {{toggleText}}
    </button>
    <button class="btn btn-primary ladda-button my-ladda-btn"
            id="createWebDriver"
            ng-click="createWebDriver()"
            ng-disabled="formIsInvalid()"
            data-style="expand-right"
            translate="webdriver.new">
        Create new WebDriver

    </button>
    <button class="btn btn-default" ng-click="cancel()" translate="entity.action.cancel">Cancel</button>
</div><!-- /.modal-footer -->
