<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Browsers</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="alert alert-error alert-warning" ng-show="error">
            <i class="fa fa-warning"></i>{{errorMessage}}
        </div>
        <form class="" name="newLogForm">
            <radio-button-group class="btn-group" data-toggle="buttons-radio" model="selectBrowser" options="browsers" id="idProperty" name="nameProperty" suffix="bootstrapSuffix"></radio-button-group>

            <br><br>
            <div class="form-group" ng-show="useRemoteWebDriver">
                <label class="col-sm-2 control-label" for="textinput">Remote url:</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="remoteWebDriverUrl" placeholder="Remote url" class="form-control" />
                </div>

            </div>
        </form>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-default pull-left" id="remoteWebDriver" ng-click="setRemoteWebDriver()">
        {{toggleText}}
    </button>

    <button class="btn btn-primary ladda-button my-ladda-btn" id="createWebDriver" ng-click="createWebDriver()" ng-disabled="selectBrowser === undefined || isProcessing === true || (useRemoteWebDriver == true && remoteWebDriverUrl == '') " data-style="expand-right">Create new WebDriver</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
